<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html lang="cs"
      xml:lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<body>
<div th:fragment="styles">
    <div th:fragment="js">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script th:src="@{/resources/js/bootstrap.min.js}"></script>
        <script th:src="@{/resources/js/bootstrap-sprockets.js}"></script>
        <script th:src="@{/resources/js/contact_me.js}"></script>
        <script th:src="@{/resources/js/jqBootstrapValidation.js}"></script>
        <script th:src="@{/resources/js/jquery.js}"></script>
    </div>
</div>
</body>
</html>