# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.settings/
/.gitignore
/.project
/target/
/.classpath
/.idea/

.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__dom4j_dom4j_1_6_1.xml
.idea/libraries/Maven__antlr_antlr_2_7_7.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_4_0_0_b01.xml
src/main/config/liquibase.properties
recepty.iml
*.iml
src/main/webapp/scss/
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_alerts.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_background-variant.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_border-radius.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_buttons.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_center-block.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_clearfix.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_forms.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_gradients.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_grid-framework.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_grid.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_hide-text.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_image.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_labels.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_list-group.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_nav-divider.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_nav-vertical-align.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_opacity.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_pagination.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_panels.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_progress-bar.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_reset-filter.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_reset-text.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_resize.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_responsive-visibility.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_size.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_tab-focus.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_table-row.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_text-emphasis.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_text-overflow.scssc
src/main/webapp/resources/scss/.sass-cache/4d78cbcf4921426f6ebcf4fa22519cc832cbcaaf/_vendor-prefixes.scssc
src/main/webapp/resources/scss/.sass-cache/ac165771518724a4423a2babdf9a76a6370f1a82/main-style.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_animated.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_bordered-pulled.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_core.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_fixed-width.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_icons.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_larger.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_list.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_mixins.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_path.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_rotated-flipped.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_stacked.scssc
src/main/webapp/resources/scss/.sass-cache/bf59215926e6cf72b610d79f72e6edd4000dc1bb/_variables.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_alerts.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_badges.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_breadcrumbs.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_button-groups.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_buttons.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_close.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_code.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_component-animations.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_dropdowns.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_forms.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_glyphicons.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_grid.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_input-groups.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_jumbotron.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_labels.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_list-group.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_media.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_mixins.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_navbar.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_navs.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_normalize.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_pager.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_pagination.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_panels.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_print.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_progress-bars.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_responsive-embed.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_scaffolding.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_tables.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_thumbnails.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_type.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_variables.scssc
src/main/webapp/resources/scss/.sass-cache/ed466283f063c6309f2a4d4be3deef5ecb31a785/_wells.scssc
src/main/config/database.properties