<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title th:text="#{view.title}"></title>
    <link rel="shortcut icon" href="/resources/img/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <th:block th:include="fragments/includes :: js" />
    <link rel="stylesheet" href="../resources/css/main-style.css" th:href="@{resources/css/main-style.css}" />
    <link rel="stylesheet" href="../resources/css/main-style.css" th:href="@{/resources/css/main-style.css}" />
</head>

<body>
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="container">
        <div class="row first">
            <div class="col-md-6">
                <h1 sec:authorize="isAuthenticated()">Byl/a jste úspěšné přihlášen/a! </h1>
                <h1 sec:authorize="isAnonymous()">Vítejte na Cooking!</h1>
            </div>
        </div>
        <div sec:authorize="isAuthenticated()">
            <div class="row">
                <div class="col-xs-12">
                <!-- Authorized - add recipe -->
                    <div class="text-right">
                <a th:href="@{recipes/addRecipe}" th:text="#{addrecipe}" class="btn btn-lg btn-orange RobotoBold text-right">Přidat recept</a>
                </div>
                </div>
                </div>
        </div>
    </div>
    <!-- /.row -->
    <hr />
    <div class="container">
        <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-md-4 RobotoRegular">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><i class="fa fa-search"></i>&nbsp;Vím co, ale nevím jak</h4>
                    </div>
                    <div class="panel-body">
                    <br />
                        <p th:text="#{text.recipes}">Máte nápad co uvařit, ale nevíte jak? Pak si podle názvu pokrmu vyhledejte recept, který potřebujete. </p>
                        <br />
                        <br />
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-book fa-5x text-center"></i>
                        </div>
                        <br />
                        <div class="col-xs-12 text-center">
                            <br />
                            <a th:href="@{recipes/searchByName}" class="btn btn-orange RobotoBold"> Hledat recept</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 RobotoRegular">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>&nbsp;Vím z čeho, ale nevím co</h4>
                    </div>
                    <div class="panel-body">
                        <br />
                        <p th:text="#{text.ingred}">Lednice je plná, ale chybí inspirace? Pak si podle potravin, najděte něco dobrého.
                        </p>
                        <br />
                        <br />
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-key fa-5x text-center"></i>
                        </div>
                        <br />
                        <div class="col-xs-12 text-center">
                            <br />
                            <a th:href="@{recipes/searchByIngredientAll}" class="btn btn-orange RobotoBold"> Hledat inspiraci</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 RobotoRegular">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>&nbsp;Vím, na co mám chuť</h4>
                    </div>
                    <div class="panel-body">
                        <br />
                        <p th:text="#{text.ingred}">Chci najít recept, který bude obsahovat hledané ingredience.
                        </p>
                        <br />
                        <br />
                        <div class="col-xs-12 text-center">
                            <i class="fa fa-heart fa-5x text-center"></i>
                        </div>
                        <br />
                        <div class="col-xs-12 text-center">
                            <br />
                            <a th:href="@{recipes/searchByIngredient}" class="btn btn-orange RobotoBold"> Hledat inspiraci</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
        <!-- Call to Action Section -->
        <hr />


        <div class="row">
        	<th:block th:include="recipes/recipeList :: recipes"></th:block>
        </div>
         </div>
    <div class="well">
        <footer th:include="fragments/footer :: footer"></footer>
    </div>
</body>

</html>
