<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{view.title}"></title>
    <link rel="shortcut icon" href="/resources/img/favicon.ico" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <th:block th:include="fragments/includes :: js" />
    <link rel="stylesheet" href="../resources/css/main-style.css" th:href="@{/resources/css/main-style.css}" />
</head>

<body>
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="container">
        <div class="row first">
            <th:block th:include="recipes/recipeList :: recipes"></th:block>
        </div>
    </div>
    <hr />
    <footer th:include="fragments/footer :: footer"></footer>
</body>

</html>
