<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
	            <div th:if="${not #lists.isEmpty(recipe.photos)}">
	                <img th:src="@{'data:image/jpeg;base64,' + ${imgInBytes.generateBase64Image()}" />
	            </div>
            </div>
                <h3 th:text="#{recipe.description}"></h3>
                <p th:text="${recipe.description}"></p>
                <h3 th:text="#{recipe.ingredience}"></h3>
                <ul>
                    <li th:each="ingredience : ${recipeIngredience}" th:text="#{ingredience.value.name}"></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <h3 class="page-header" th:text="#{recipe.preparation}"></h3>
            </div>
            <div class="col-lg-12">
                <p th:text="${recipe.preparationProcess}"></p>
            </div>
        </div>
</html>




