<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html lang="cs"
      xml:lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>


    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container" th:fragment="header">

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a th:href="@{/recipes}" th:text="#{ui.recipes}" class="dropdown-toggle" data-toggle="dropdown"></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a th:href="@{/recipes/soup} th:text=" #{ui.recipemenu.soup}"></a>
                            </li>
                            <li>
                                <a th:href="@{/recipes/mainmeal} th:text=" #{ui.recipemenu.mailmeal}"></a>
                            </li>
                            <li>
                                <a th:href="@{/recipes/sweet} th:text=" #{ui.recipemenu.sweet}"></a>
                            </li>
                            <li>
                                <a th:href="@{/recipes/smoot} th:text=" #{ui.recipemenu.smoot}"></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a th:href="@{/articles} th:text="#{ui.recipemenu.article}"></a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

</html>
