<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title th:text="#{view.title}"></title>
    <script src="/resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="/resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="/resources/js/validator.js" th:src="@{/resources/js/validator.js}"></script>
    <script src="/resources/js/search.js" th:src="@{/resources/js/search.js}"></script>
    <link rel="shortcut icon" href="/resources/img/favicon.ico" th:href="@{/resources/img/favicon.ico}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <th:block th:include="fragments/includes :: js" />
    <link rel="stylesheet" href="../resources/css/main-style.css" th:href="@{/resources/css/main-style.css}" />
</head>

<body>
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="container">
        <div class="row first">
            <form data-toggle="validator" id="recipeForm" class="form-horizontal" role="form" action="#" th:action="@{/recipes/addRecipe}" th:object="${recipe}" method="post">
                <h2 class="text-center"><span>Vložit nový recept</span></h2>
                <br />
                <br />
                <div class="form-group">
                    <label for="category" class="col-md-2 control-label" th:text="#{category}">Název kategorie</label>
                    <div class="col-md-2">
                        <select class="form-control" id="sel1">
                            <option th:each="category : ${categories}" th:value="${category}"><span th:text="#{${category.name}}">Název kategorie</span></option>
                        </select>
                    </div>
                    <label for="name" class="col-md-2 control-label" th:text="#{recipe.name}">Název receptu</label>
                    <div class="col-md-5">
                        <input type="text" class="form-control" name="name" th:field="*{name}" required="true" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-md-2 control-label" th:text="#{recipe.description}">Popis</label>
                    <div class="col-md-9">
                        <textarea rows="2" type="text" class="form-control" name="description" th:field="*{description}" required="true" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="preparation" class="col-md-2 control-label" th:text="#{recipe.preparation}">Příprava</label>
                    <div class="col-md-9">
                        <textarea rows="6" type="text" class="form-control" name="preparation" th:field="*{preparationProcess}" required="true" />
                        <div class="help-block with-errors"></div>
                    </div>
                </div>

                <div class="form-group col-xs-12">
                    <label for="ingredients" class="col-md-2 control-label" th:text="#{recipe.preparation}">Příprava</label>
                    <div class="col-md-7">
                        <table>
                            <tr th:each="recipeIngredient, rowStat: *{recipeIngredients}">
                                <td>
                                    <select class="form-control" id="sel2" th:field="${ingredient}">
                                        <option th:each="ingredient : ${ingredients}" th:value="${ingredient}"><span th:text="${ingredient.ingredientName}">Ingredience</span></option>
                                    </select>
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{recipeIngredients[__${rowStat.index}__].amount}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control" th:field="*{recipeIngredients[__${rowStat.index}__].unit}" />
                                </td>
                            </tr>
                        </table>

                    </div>
                    <div class="col-md-2">
                        <input type="submit" class="btn btn-yellow" th:value="#{addRecipeIngredient}" name="addRecipeIngredient" />
                    </div>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-2 col-md-9">
                        <button id="btn-save" type="submit" class="btn btn-orange form-control"><i class="icon-hand-right"></i>
                            <span th:text="#{save}"></span>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <hr/>
    <footer th:include="fragments/footer :: footer"></footer>
    <th:block th:include="fragments/includes :: js"></th:block>
</body>

</html>
