<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
    <title th:text="#{view.title}"></title>
    <script src="/resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
    <script src="/resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
    <script src="/resources/js/validator.js" th:src="@{/resources/js/validator.js}"></script>
    <script src="/resources/js/search.js" th:src="@{/resources/js/search.js}"></script>
    <link rel="shortcut icon" href="/resources/img/favicon.ico" th:href="@{/resources/img/favicon.ico}" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <script src="../../resources/js/input.js" th:src="@{/resources/js/input.js}"></script>
    <link rel="stylesheet" href="../../resources/css/main-style.css" th:href="@{/resources/css/main-style.css}" />
</head>

<body>
    <th:block th:include="fragments/header :: header"></th:block>
    <div class="container">
        <div class="row first">
            <form data-toggle="validator" id="loginform" class="form-horizontal" role="form" action="#" th:action="@{/recipes/addRecipe}" th:object="${recipe}" method="post">
                <h2 class="text-center"><span>Vložit nový recept</span></h2>
                <div class="form-group">
                    <label for="category" class="col-md-3 control-label" th:text="#{category}">Název kategorie</label>
                    <div class="col-md-9">
                        <select class="form-control" id="sel1">
                            <option th:each="category : ${categories}"><span th:text="#{${category.name}}">Název kategorie</span></option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="name" class="col-md-3 control-label" th:text="#{name}">Název receptu</label>
                    <div class="col-md-9">
                        <input type="text" class="form-control" name="name" th:field="*{name}" required="true" />
                   <div class="help-block with-errors"></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-md-3 control-label" th:text="#{recipe.description}">Popis</label>
                    <div class="col-md-9">
                        <textarea rows="2" type="text" class="form-control" name="description" th:field="*{description}" required="true" />
                        <div class="help-block with-errors"></div>

                    </div>
                     
                </div>
                <div class="form-group">
                    <label for="preparation" class="col-md-3 control-label" th:text="#{recipe.preparation}">Příprava</label>
                    <div class="col-md-9">
                        <textarea rows="6" type="text" class="form-control" name="preparation" th:field="*{preparationProcess}" required="true" />
                     <div class="help-block with-errors"></div>
                    </div>
                    
                </div>
                <div class="col-md-9">
                    <div class="input-group">
                        <label for="description" class="col-md-3 control-label" th:text="#{recipe.description}">Popis</label>
                        <span class="input-group-addon" id="sizing-addon1"><i class="fa fa-file-image-o"></i></span>
                        <input type="text" id="tags" class="form-control"  aria-describedby="sizing-addon1" />
                        <span class="input-group-btn">
                            <input class="btn btn-orange" type="file" th:field="${photo}"><i class="fa fa-search">Procházet</i>
                            </input> 
                        </span>
                    </div>
                    <div class="help-block with-errors"></div>
                </div>
                <div class="form-group">
                    <label for="ingredients" class="col-md-3 control-label" th:text="#{recipe.preparation}">Příprava</label>
                    <div class="col-md-9">
                    	<table>
                    		<tr th:each="recipeIngredient, rowStat: *{recipeIngredients}">
                    			<td>
                    				<select class="form-control" id="sel2" th:field="*{recipeIngredients[__${rowStat.index}__].ingredient}">
                    					<option th:each="ingredient : ${ingredients}" th:value="${ingredient}" th:text="${ingredient.ingredientName}">Ingredience</option>
                    				</select>
                    			</td>
                    			<td>
<!--                     				<input type="text" class="form-control" th:field="0" /> -->
                    				<input type="text" class="form-control" th:field="*{recipeIngredients[__${rowStat.index}__].amount}" />
                    			</td>
                    			<td>
                    				<input type="text" class="form-control" th:field="*{recipeIngredients[__${rowStat.index}__].unit}" />
                    				<span class="col-sm-1 row-delete-button">
                    					<button type="submit" class="btn btn-orange" th:value="*{recipeIngredients[__${rowStat.index}__].idRecipeIngredient}"
                    						name="remove">
                    						<i class="glyphicon glyphicon-trash icon-white"></i>	
                    					</button>
                    				</span>
                    			</td>
                    		</tr>
                    	</table>
                    	
                    	<input type="submit" class="btn btn-orange" th:value="#{addRecipeIngredient}" name="addRecipeIngredient"/>
<!--                         <input type="text" th:placeholder="#{insertIngredients}" class="form-control" name="ingredients" th:field="*{preparationProcess}" required="true" /> -->
<!--                         <div class="help-block with-errors"></div> -->
                    </div>
                </div>
                <div class="form-group">
                    <!-- Button -->
                    <div class="col-md-offset-3 col-md-9">
                        <button id="btn-save" type="submit" class="btn btn-success form-control"><i class="icon-hand-right"></i>
                            <span th:text="#{save}"></span>
                        </button>
                    </div>
                </div>
                <div class="help-block with-errors"></div>
            </form>
        </div>
    </div>
    <hr/>
    <footer th:include="fragments/footer :: footer"></footer>
    <th:block th:include="fragments/includes :: js"></th:block>
</body>

</html>
