<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs" xml:lang="cs" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<th:block th:fragment="recipeList">
    <div class="container">
        <div class="row" th:each="recipe : ${recipes}">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                    <img th:src="resources/img/recipes/thubnail/${recipe.id}" alt="Foto${recipe.id}" />
                    <div class="caption">
                        <h3><a th:href="@{/detail(id=${recipe.id})">${recipe.name}</a></h3>
                        <p>${recipe.author}</p>
                        <p>${recipe.description}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>
