<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.13.3/JSXTransformer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.6/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>

    <title>Cooking</title>

    <!-- Bootstrap Core CSS -->
    <link href="resources/css/main-style.css" rel="stylesheet">


</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="resources/img/logo.png" /></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right RobotoBoldUP">
                    <li>
                        <a href="about.html">About</a>
                    </li>
                    <li>
                        <a href="services.html">Services</a>
                    </li>
                    <li>
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="portfolio-1-col.html">1 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-2-col.html">2 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-3-col.html">3 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-4-col.html">4 Column Portfolio</a>
                            </li>
                            <li>
                                <a href="portfolio-item.html">Single Portfolio Item</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Blog <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="blog-home-1.html">Blog Home 1</a>
                            </li>
                            <li>
                                <a href="blog-home-2.html">Blog Home 2</a>
                            </li>
                            <li>
                                <a href="blog-post.html">Blog Post</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="full-width.html">Full Width Page</a>
                            </li>
                            <li>
                                <a href="sidebar.html">Sidebar Page</a>
                            </li>
                            <li>
                                <a href="faq.html">FAQ</a>
                            </li>
                            <li>
                                <a href="404.html">404</a>
                            </li>
                            <li>
                                <a href="pricing.html">Pricing Table</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

    </nav>


    <div class="container">


        <div class="row first">
            
            <div class="col-md-6">
                <p class="RobotoBold">blibli blabla</p>
                <ul>
                    <li><strong>protoč</strong>
                    </li>
                    <li>protoč</li>
                    <li>protoč</li>
                    <li>protoč</li>
                    <li>protoč</li>
                    <li>protoč</li>
                </ul>
                <p>Roku ta zimu virům, mi ředitel tkání ročník všeho zvýšil označuje, narodil jmelí, radost výběr, matriarchálně jejichž, pozvedl podobu. Za svá borci uplynulých názvy cyttaria, map slovo apokalyptická podobné zambezi, člun je je póla teorii tmavou právě úspěšnost. </p>
            </div>
            <div class="col-md-6">
                <img class="img-responsive" src="resources/img/wtf.jpg" alt="">
            </div>
        </div>
        <!-- /.row -->
   <hr>

        <!-- Marketing Icons Section -->
        <div class="row">
            
            <div class="col-md-4 RobotoRegular">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><i class="fa fa-search"></i>&nbsp;Vím co, ale nevím jak</h4>
                    </div>
                    <div class="panel-body">
                        <p>Máte nápad co uvařit, ale nevíte jak? Pak jste na správném místě</p>
                        <a href="#" class="btn btn-orange RobotoBold">Recepty</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-money"></i>&nbsp;Vím za kolik, ale nevím co</h4>
                    </div>
                    <div class="panel-body">
                        <p>Máte pár drobných a nevíte co by se z toho dalo uvařit?</p>
                        <a href="#" class="btn btn-orange RobotoBold">Hledat potraviny + recept</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4><i class="fa fa-fw fa-gift"></i>&nbsp;Vím z čeho, ale nevím co</h4>
                    </div>
                    <div class="panel-body">
                        <p>Lednice je plná, ale chybí inspirace? Pak si podle potravin, najděte něco dobrého.</p>
                        <a href="#" class="btn btn-orange RobotoBold">Hledat nápad</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->

       

        

     

        <!-- Call to Action Section -->
        <div class="well">
            <div class="row">
                <div class="col-md-8">
                    <p>Kačka tlačka</p>
                </div>
                <div class="col-md-4">
                    <a class="btn btn-lg btn-default btn-block" href="#">Registrace</a>
                </div>
            </div>
        </div>

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; UHK 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="resources/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="resources/js/bootstrap.min.js"></script>
    

</body>

</html>
