<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html lang="cs"
      xml:lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>
<th:block th:fragment="js">
<script src="/resources/js/jquery.js" th:src="@{/resources/js/jquery.js}"></script>
<script src="/resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
<script src="/resources/js/validator.js" th:src="@{/resources/js/validator.js}"></script>
<script src="/resources/js/search.js" th:src="@{/resources/js/search.js}"></script>
</th:block>
</html>