<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<html lang="cs"
      xml:lang="cs"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
</head>


<script th:fragment="all" src="../resources/js/bootstrap.min.js"   th:src="@{resources/js/bootstrap.min.js}"></script>
<link th:fragment="all" rel="stylesheet" href="/resources/css/main-style.css"       th:href="@{resources/css/main-style.css}"/>
</html>